*.lyx~
*.lyx#
*.Rhistory
*.Rapp.history
/data
/log/
/results/
/saved
/external/
/temp/
*.DS_Store
*-blx.bib
*.asv
*.aux
*.bbl
*.bcf
*.bib_*.utf8
*.blg
*.dvi
*.ent
*.fff
*.fls
*.glo
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.mod
*.nav
*.o
*.out
*.pdf
*.pdfsync
*.prj
*.pyc
*.run.xml
*.snm
*.sublime-*
*.svn
*.tmproj
*.toc
*.ttt
*.vrb
.waf*
waf-*
waf3-*
*latexmk
*synctex.gz
.*
!.environment.osx.yml
!.environment.windows.yml
!.environment.linux.yml
!.env
.*pdfsvn
__pycache__
bld
project_documentation
scons.py
textmatetostata.do
~$*
Thumbs.db
___*
!.gitignore
!.mywaflib
.env/workaround.bat
.env/installed_conda_pkgs
.env/installed_pip_pkgs
.env/installed_spec.json