*config_user.yaml
analysis/build/
analysis/release/lg/
paper_slides/build/
paper_slides/input/lg
paper_slides/release/lg/
external/
temp/
scons/
*.sconsign.dblite
*.pyc
*.lyx~
*.lyx#
*.lyx.emergency
*.Rhistory
*.Rapp.history
*.DS_Store
*.aux
*.fls
*.lof
*.lot
*.nav
*.snm
*.toc
*.out
*.svn
*.ipynb
